*.tlog
*.log
*.opendb
.vs/Battleship/v16/.suo
*.db
*.ipch
*.filters
*.vcxproj
Debug/Battleship.exe
*.recipe
*.ilk
*.pdb
Debug/Battleship.vcxproj.FileListAbsolute.txt
*.obj

*.db-shm
*.db-wal
/.vs
fwwefd.sln
*.user
/Debug
